@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Nunito-Italic;
    src: url(../font/Nunito-Italic-VariableFont_wght.ttf);
}

body {
    font-family: Nunito;
}